	//@micromap
	//config:
	//  app: MyApp
	//groups:
	//  - name: DataCenter
	//    deps:
	//      - name: Postgres
	//        typ: db
	//        rels:
	//          - path: Orders
	//          - path: Products
	//  - name: AWS
	//    deps:
	//      - name: SNS
	//        typ: queue
	//        rels:
	//          - path: NotifyUser
	//            dir: forward
	//      - name: SQS
	//        typ: queue
	//deps:
	//  - name: Postgres2
	//    typ: db
	//    parent: DataCenter
	//rels:
  //  - path: OutOfStock
	//    dir: back
	//    service: SQS