	//@micromap
	//config:
	//  app: MyApp
	//groups:
	//  - name: group1
	//    deps:
	//      - name: Postgres
	//        typ: db
	//        rels:
	//          - path: Orders
 asdfasdf
 
	//@micromap
	//groups:
	//  - name: group1
	//    deps:
	//      - name: Postgres
	//        typ: db
	//        rels:
	//          - path: Orders2
	//  - name: AWS
	//    deps:
	//      - name: SNS
	//        typ: queue
	//        rels:
	//          - path: NotifyUser
	//            dir: forward
	//      - name: SQS
	//        typ: queue
	//deps:
	//  - name: Postgres2
	//    typ: db
	//    parent: group1